<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer data-domain="ananyapathak.xyz" src="https://plausible.ananyapathak.xyz/js/script.file-downloads.hash.outbound-links.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

    <title>Ananya Pathak</title>
</head>
<body>
    <h1>Hi,</h1>

    <p>I am Ananya Pathak. Welcome to my minimilist personal page on internet...ain't my web design skills sick?</p>

    <h2>bio</h2>
    <p>A biomedical engineer turned ML engineer. I am grateful to have worked at great academic labs like 
    <a href="https://www.teriin.org/" target="_blank">TERI</a>, 
    <a href="https://www.igib.res.in/" target="_blank">IGIB</a>, and 
    <a href="https://www.igbmc.fr/en/igbmc-1" target="_blank">IGBMC</a>.</p>

    <h2>work</h2>
    <p>Presently I am working on building <a href="https://github.com/AnanyaP-WDW/AdTestPro" target="_blank">AdTestPro</a></p>
    <p>I like to read <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a>. 
    To facilitate finding posts that pique my interest, I built my own 
    <a href="https://hn.ananyapathak.xyz/" target="_blank">Hacker News recommender</a>.</p>

    <h2>services</h2>
    <p>I offer some services:</p>
    <p>150 usd/hour for technical consulting</p>
</body>
</html> 