<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer data-domain="ananyapathak.xyz" src="https://plausible.ananyapathak.xyz/js/script.file-downloads.hash.outbound-links.tagged-events.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

    <title>Ananya Pathak</title>
</head>
<body>
    <h1>Hi,</h1>

    <p>I am Ananya Pathak. Welcome to my minimilist personal page on internet...ain't my web design skills sick?</p>

    <h2>bio</h2>
    <p>A biomedical engineer turned ML engineer. I am grateful to have worked at great academic labs like 
    <a href="https://www.teriin.org/" target="_blank">TERI</a>, 
    <a href="https://www.igib.res.in/" target="_blank">IGIB</a>, and 
    <a href="https://www.igbmc.fr/en/igbmc-1" target="_blank">IGBMC</a>.
    My work revolved around building statistical and machine learning models in healthcare and biological sciences (genomics, proteomics, etc).</p>
    <p> As a freelance consultant, I've worked in the patenting, e-commerce analytics and SaaS industries.</p> 
    <p> E-commerce - systems for named entity extraction, information organization, product embeddings, information retrieval systems like semantic search, RAG , and low latency extreme classification tasks.</p>
    <p> SaaS - Low latency (sub 100 ms) task specific ML systems like classifiers for both image and text modalities, custom embedding models, and information extraction systems.</p>
    <p> Patenting - AI systems feasibility<p>

    </p>
    <h2>work</h2>
    <p>Presently I am working on building <a href="https://github.com/AnanyaP-WDW/AdTestPro" target="_blank">AdTestPro</a></p>
    <p>I like to read <a href="https://news.ycombinator.com/" target="_blank">Hacker News</a>. 
    To facilitate finding posts that pique my interest, I built my own 
    <a href="https://hn.ananyapathak.xyz/" target="_blank">Hacker News recommender</a>.</p>

    <h2>services</h2>
    <p>I offer consulting and developement services:</p>
    <p>The users of the services belong to three main categories:</p>
    <p>1. companies/startups who wish to onboard me on a longer term basis for a fixed monthly fee. Usually ~6 month contracts.</p>
    <p>2. companies/startups who wish to integrate AI/ML into their products. Usually short term projects ~1-2 months.</p>
    <p>3. People who want to learn about specific aspects of AI/ML.</p> 
    <p>I usually charge ~ 40-50 usd/hour</p>
    <p> Please use this link (<a href="https://cal.com/ananya-pathak/30min" target="_blank">book a call</a>) to schedule, book and confirm a call.</p>

    <h2>contact</h2>
    <p><a href="https://x.com/AnanyaPath45073" target="_blank">x</a> </p>
    <p><a href="https://www.linkedin.com/in/ananyapathak321/" target="_blank">linkedin</a> </p>
    <p><a href="https://github.com/AnanyaP-WDW" target="_blank">github</a> </p>
</body>
</html> 
